.box1 {
  min-height: 30vh;
  width: 60vh;
}

.box2 {
   min-height: 90vh;
  width: 60vh;
  display: inline-block;
}

.box3 {
  min-height: 90vh;
  width: 50vh;
  display: inline-table;
}

box4 {
  min-height: 90vh;
  width: 60vh;
  display: inline-table;
}

box5 {

}
