.box1 {
  min-height: 40vh;
  width: 28%;
  margin: auto;
  display: inline-table
}

.box2 {
  min-height: 40vh;
  width: 53%;
  display: inline-block;
  margin: auto;
}

.box3 {
  min-height: 40vh;
  width: 18%;
  display: inline-table;
  margin: auto;
}

box4 {
  min-height: 50vh;
  width: 46%;
  display: inline-table;
  margin: auto;
}

box5 {
  margin: auto;
  min-height: 50vh; 
  width: 53%;
  display: inline-table;
}
